<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .container {
            margin: 100px 400px;
        }

        .no-box {
            padding-left: 30px;
            font-size: 60px;
        }

        .btn {
            background-color: rgb(179, 179, 179);
        }

        .btn:hover {
            color: white;
            background-color: green;
        }
    </style>
</head>
<body>
<form method="post" action="/quiz_taken">
    <div id="demo" class="scp-quizzes-main">
        <div class="scp-quizzes-data">

            {% for qa in qa_list%}

                <div class = 'card' style=" width:70rem; margin-left:20px;">
                    <div class = 'card-block' style="margin-left:20px;margin-top:10px;">
            <h4>{{loop.index}}{{". "+qa.question}}</h4>
            <br/>
                    <input type="radio" id="{{qa.get('options').get('option1')}}" name="question-{{qa.id}}" value="{{qa.get('options').get('option1')}}" required>
                       <label for="{{qa.get('options').get('option1')}}"> {{qa.get('options').get('option1')}}</label><br/>
                    <input type="radio" id="{{qa.options['option2']}}" name="question-{{qa.id}}" value="{{qa.get('options').get('option2')}}">
                       <label for="{{qa.options['option2']}}"> {{qa.options['option2']}}</label><br/>
                    <input type="radio" id="{{qa.options['option3']}}" name="question-{{qa.id}}"value="{{qa.get('options').get('option3')}}">
                       <label for="{{qa.options['option3']}}"> {{qa.options['option3']}}</label> <br/>
                    <input type="radio" id="{{qa.options['option4']}}" name="question-{{qa.id}}" value="{{qa.get('options').get('option4')}}">

                     <label for="{{qa.options['option4']}}" > {{qa.options['option4']}}</label>
                    </div>
                </div>
            {% endfor%}


        <button class="btn" onclick="prev()">
            prev
        </button>

        <button class="btn" onclick="next()">
            next
        </button>
    </div>
    </div>
</form>
    <script>
        var no_box = document
            .querySelector('.no-box');

        var i = 1;

        function prev() {

            // Start position
            if (i == 1) {

                // Add disabled attribute on
                // prev button
                document.getElementsByClassName(
                        'prev').disabled = true;

                // Remove disabled attribute
                // from next button
                document.getElementsByClassName(
                        'next').disabled = false;
            } else {
                i--;
                return setNo();
            }
        }

        function next() {

            // End position
            if (i == 5) {

                // Add disabled attribute on
                // next button
                document.getElementsByClassName(
                        'next').disabled = true;

                // Remove disabled attribute
                // from prev button
                document.getElementsByClassName(
                        'prev').disabled = false;
            } else {
                i++;
                return setNo();
            }
        }

        function setNo() {

            return no_box.innerHTML = i;
        }
    </script>
</body>

</html>