{% extends "layout1.html" %}
<html>
{%block content%}
<head>
    <title>Quizzes </title>
    <link rel="stylesheet" type="text/css" href="./css/style.css"/>

<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">-->
<!--       $("input[type='radio']").change(function(){-->
<!--  	var count = $("input[type='radio']:checked").length;-->
<!--	if(count>3){-->
<!--		$(this).prop('checked', false);-->
<!--      alert("You cannot add more than 3");-->
<!--	}-->

<!--    </script>-->
<!--});-->
    <style>
span.a {
  padding-left:10px;
  padding-right:10px;
  margin-bottom:50%;
  margin-left:140%;
  border: 3px solid black;
}
.val{

}

</style>
    <script>
    window.addEventListener('beforeunload', function (e) {
    e.preventDefault();
    e.returnValue = '';
});
        document.addEventListener('contextmenu', event => event.preventDefault());
        document.addEventListener("visibilitychange", function(e) {

            if (document.hidden){
                alert("Tab Switched!!!");
                document.getElementById('myForm').submit();
            }
        });
    var myTimer;
    function clock() {
    myTimer = setInterval(myClock, 1000);
    var c = 601;

    function myClock() {
        --c

        var seconds = c % 60;
        var secondsInMinutes = (c - seconds) / 60;
        var minutes = secondsInMinutes % 60;
        document.getElementById('timer').innerHTML = String(minutes).padStart(2, '0') + ":" + String(seconds).padStart(2, '0');
        if (c == 0) {
            clearInterval(myTimer);
            alert(" Time out!! :( ");
            document.getElementById('myForm').submit();

        }
    }
}

    </script>
</head>
<body onload="clock()" oncopy="return false" oncut="return false"  >
<form method="post" action="/quiz_taken" name="myForm" id="myForm">
    <div class="scp-quizzes-main">
        <div  class="scp-quizzes-data">
            <span class="a" id="timer"></span>

            {% for qa in qa_list%}

                <div class = 'card' style=" width:70rem; margin-left:20px;margin-top:10px;">
                    <div class = 'card-block' style="margin-left:20px;margin-top:10px;">
            <h4>{{loop.index}}{{". "+qa.question}}</h4>
            <br/>
                    <input type="radio" id="{{qa.get('options').get('option1')}}" name="question-{{qa.id}}" value="{{qa.get('options').get('option1')}}">
                       <label for="{{qa.get('options').get('option1')}}"> {{qa.get('options').get('option1')}}</label><br/>
                    <input type="radio" id="{{qa.options['option2']}}" name="question-{{qa.id}}" value="{{qa.get('options').get('option2')}}">
                       <label for="{{qa.options['option2']}}"> {{qa.options['option2']}}</label><br/>
                    <input type="radio" id="{{qa.options['option3']}}" name="question-{{qa.id}}" value="{{qa.get('options').get('option3')}}">
                       <label for="{{qa.options['option3']}}"> {{qa.options['option3']}}</label> <br/>
                    <input type="radio" id="{{qa.options['option4']}}" name="question-{{qa.id}}" value="{{qa.get('options').get('option4')}}">
                       <input type="hidden" name="question-{{qa.id}}"  value="--"/>

                     <label for="{{qa.options['option4']}}" > {{qa.options['option4']}}</label>
                    </div>
                    </div>
            {% endfor%}

        </div>
        <div style="font-size: 30px; margin-top: 1.5rem;">
            <input type="submit" id="submitButton" class="btn btn-outline-secondary"
                   style="width: 70rem; height: 2.5rem; font-size: 1rem;margin-left: 10px;">
        </div>

    </div>
    <br><br>
</form>

</body>
{% endblock content %}
</html>