.bckgrnd{
background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
}
.bckgrnd1{
background-image: radial-gradient( circle 801px at 10.1% 20.1%,  rgba(209,234,205,1) 5.3%, rgba(159,219,233,1) 90% );

}
.bgimg {
  background-image: url('static/quizbgimg.jpg');
}
.input[type="text"]
{
    font-size:20px;
}
h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #000000;
}

.site-header .navbar-nav .nav-link {
  color: #cbd6db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}
.bodybg {
  background-image: url('static/img/backgroungimg.jpg');
  background-size: 100%;

}
.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

/*quiz css */

body {
  background-image: url('static/img/allbg.webp');
  background-size: 100%;
}

   .next_btn:hover {
            color: white;
            background-color: green;
        }

   .prev_btn:hover {
            color: white;
            background-color: green;
        }
    .card {
  display: none;
  }
  }
.row {
  display: flex;
  padding:20px;
}

.left_div {
    flex: 1000px;
    padding: 40px;
    height: 302px
}
.right_div{
       flex: 84px;
    height: 400px;
}
.button_div{
  flex: 70%;
  padding: 40px;
  height: 200px;
}
.prev_btn{
    margin-top: 20px;
    width: 125px;
    height: 50px;
    border: 1px solid;
    border-radius: 60px;
}
.submit_btn{
  position: fixed;
  left: 30%;
  top:50%;
  margin-top: 150px;
    width: 20%;
    height: 60px;
    border: 1px solid;
    border-radius: 48px;

}
.next_btn{
float:right;
margin-top: 20px;
    width: 125px;
    height: 50px;
    border: 1px solid;
    border-radius: 60px;
}
}

.container1{
margin-top:30%;
}
.count-name{
    margin-left: 40px;
    position: relative;
    margin-top: 100px;
}

span.a {
  padding-left:10px;
  padding-right:10px;
  margin-bottom:50%;
  margin-left:140%;
  border: 3px solid black;
}
.timer{
    margin-top: 125px;
    margin-left: 1004px;
    position: absolute;
    border: 1px solid;
    width: 130px;
    text-align: center;
    font-size: 30px;
    border-radius: 15px;
}

.collapsible {
  color: white;
  cursor: pointer;
  padding: 20px;
  width: 150%;
  background-color: #777;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-bottom:16px;
}